{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <div class="wrapper">
        <nav class="main-menu">
            <ul class="menu _conteiner">
                <li class="menu__item">Home</li>
                <li class="menu__item">Blogs</li>
                <li class="menu__item">Contact</li>
            </ul>
        </nav>
        <div class="content"></div>
        <footer class="footer">
            <div class="footer__content _conteiner">
                <div class="footer__menu">
                    <div class="footer__menu_items"></div>
                    <div class="footer__menu_media"></div>
                </div>
                <div class="footer__info">
                    <div class="footer__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos libero
                        necessitatibus quia atque quaerat quas autem rerum iusto accusamus earum maxime fugiat
                        veritatis, dolores voluptatem voluptate eveniet, tenetur laboriosam dolorem!</div>
                    <div class="footer__tel-number">
                        <span>8-800-400-56-66</span>
                        <span>8-800-400-56-66</span>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>