
<!-- ? Шаблон для пагинатора -->
<!-- Проверяем есть ли еще страницы. Если нет, то не рендерим разметку -->
{% if page_obj.has_other_pages %}
    <div class="blog-pagination">
        <ul class="justify-content-center">

            <!-- ? На случай изменения дизайна пагинатора. Для добавления стрелочек -->
            <!-- {% if articles.has_previous %}
                    <li><a href="?page={{ articles.previous_page_number }}">{{ articles.previous_page_number }}</a></li>
                    {% else %}
                    <li><a href="#"><</a></li>
                    {% endif %} -->

            {% for i in page_obj.paginator.page_range %}
                {% if i > page_obj.number|add:-4 and i < page_obj.number|add:4 %}
                    {% if page_obj.number == i %}
                        <li class="active"><a href="#">{{ i }}</a></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            <!-- ? На случай изменения дизайна пагинатора. Для добавления стрелочек -->
            <!-- {% if articles.has_next %}
                    <li><a href="?page={{ articles.next_page_number }}">{{ articles.next_page_number }}</a></li>
                    {% else %}
                    <li><a href="#">{{ articles.previous_page_number }}</a></li>
                    {% endif %} -->
        </ul>
    </div>
{% endif %}